# React Native
node_modules/
npm-debug.log
yarn-error.log

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate

# VS Code
.vscode/

# Misc
*.DS_Store
